<header>
    <div class="px-3 py-2 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-end">
                <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                    <li>
                        <a href="/" class="nav-link text-white text-center">
                        <i class="fas fa-home fa-2x text-center"></i><br />
                        Inicio
                        </a>
                    </li>
                    <li>
                        <a href="/graphics" class="nav-link text-white text-center">
                        <i class="fas fa-play fa-2x"></i><br />
                        Peticiones
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-white text-center">
                        <i class="fas fa-hands-helping fa-2x"></i><br />
                        Ayuda
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
