{% extends "base.html" %}

{% block content %}

<div class="container col-8 offset-2 mt-5">
    <h4>Wilfred Alejandro Barrios Ola</h4>
    <h4>201602734</h4>
    <h4>Facultad de Ingeniería - Escuela de sistemas</h4>
    <h4>IPC2 - Proyecto 3</h4>
    <br>
    <form action="reset" method="GET">
        <button class="btn btn-danger" type="submit">Reiniciar sistema</button>
    </form>
    <br>
    <form action="download_doc" method="GET">
        <button class="btn btn-primary" type="submit">Descargar documentación</button>
    </form>
</div>
{% endblock %}